body {
  background-image: url("../../images/sea.jpg");
  font-family:cursive;
  display: block;
  margin: 8px;
  background-repeat:repeat-x;
  background-size:contain;
  background-attachment:fixed;
  background-position:top;
  color:red;
}
