.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 200px;
}
.grid > div {
  background: #734;
  padding: 1.5rem;
  border-radius: 5px;
}
body {
  margin: 1em;
  font: 2em;
  font-family: 'Times New Roman', sans-serif;
  background-image: ;
  background-repeat: no-repeat;
  background-size: cover;
}
