.wrapper{
  position: relative;
  top: 40vh;
  left: 20vh;
}
#button{
  border: 5px solid #FFAB33;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  margin: auto;
  background: #FF5733;
}

#button:hover{
  background: #DFF30B;
}

#message{
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}

.hide{
  visibility: hidden;
}

.reveal{
  visibility: visible;
}

.wrapper1{
  position: relative;
  top: 20vh;
  right: 15vh;
}
#another{
  border: 5px solid #FFAB33;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  margin: auto;
  background: pink;
}

#another:hover{
  background: #DFF30B;
}

#message1{
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}

.hide1{
  visibility: hidden;
}

.reveal1{
  visibility: visible;
}

.wrapper2{
  position: relative;
  top: 5vh;
  left: 5vh;
}
#another1{
  border: 5px solid #FFAB33;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  margin: auto;
  background: green;
}

#another1:hover{
  background: #DFF30B;
}

#message2{
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}

.hide2{
  visibility: hidden;
}

.reveal2{
  visibility: visible;
}
